# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iws
*.iml
*.ipr
out/

# ===============================
# Maven
# ===============================
target/
!**/src/main/**/target/
!**/src/test/**/target/

# ===============================
# Logs
# ===============================
*.log
logs/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Environment / Config
# ===============================
.env
*.env

# Ignore application config (ALL modules)
**/src/main/resources/application.properties
**/src/main/resources/application.yml

# ===============================
# Compiled files
# ===============================
*.class

# ===============================
# Package files
# ===============================
*.jar
*.war
*.ear

# ===============================
# Misc
# ===============================
*.swp
*~